/*-----------------------------------------------------------------------------------*/
/*Google Maps Site*/
/*Forms*/
.boxes {
	height: 34px;
  	
  	font-size: 18px;
  	line-height: 1.33;
  	border-radius: 4px;
}
/*Search Results*/
#searchresults {
	display: none;
}
/*GOOGLE MAPS API STUFF*/
#map {
	width:50%;
	min-height: 300px;
	margin: 0 0 4% 0;
}	
body,
html{
height: 100%;
width: 100%; } /* If you don't do this, gremlins will eat your nose. */

#map{
height: 100%;
left: 0;
position: fixed; /*!important; *//* Acts in pretty much the same way as background-attachment: fixed for an image background. Has to be !important only if you're using the Google Maps API. */
top: 0;
width: 100%;
z-index: 1; } /* Has to be at least one increment smaller in value than the container's z-index */

#container{
background: rgba(0, 0, 0, 0.8);
border-radius: 20px;
border: 3px solid #fff;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
margin: 0 auto;
overflow: visible; /*!important; *//* Has to be !important only if you're using an on/off switch */
padding: 15px;
position: relative;
top: 15px;
width: 800px;
z-index: 2; } /* Has to be at least one increment larger in value than the Google Maps iframe z-index */

h1 {
color: white;	
}
address {
	color:white;
}